.DS_STORE
node_modules/
bower_components/
.idea/
.sass-cache/
web/css/bootstrap
web/js/bootstrap
web/js/jquery
web/js/jquery-reel
web/css/import.css
web/css/import.css.map
web/css/fonts/
web/sass/_variables.scss
web/assets
web/dist
build/
vendor/

#ecplise
.buildpath
.settings
.project

.ftppass
*.lock
.tmp/
web/css/import.map

/.htusers
/import.map

wp/wp-content/uploads
web/js/es5

## Docker ingnores
/docker/lib/mysql/*
/wp-cli.phar
