.cookie-warning {
  display: none;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  &.no-accepted {
    display: flex;
  }

  &.top {
    top: 0;
    bottom: inherit;
  }

  .link {
    align-self: center;
  }

}

.cookie-warning__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  max-width: 100%;

  p {
    color: white;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.cookie-warning__footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  padding-bottom: 1rem/2;
}

.cookie-warning__btn {
  align-self: center;
  appearance: none;
  box-shadow: none;
  padding: .75em 2em;
  padding-bottom: .6rem;
  border: none;


  font-size: 0.8rem;
  font-family: "system-ui";
  font-weight: 400;
  text-decoration: none;
  text-align: center;

  &:last-of-type {
    margin-top: 1rem;
  }

  &:hover,
  &:active,
  &:focus{
    cursor: pointer;
    outline: 0;
  }
}

.cookie-warning__button--primary {
  background-color: #ca0017;
  color: #fff;

  border-radius: 0;
}

.cookie-warning__button--secondary {
  background-color: #828e82;
  color: #fff;
}


@media screen and (min-width: 544px) {

  .cookie-warning__footer {
    flex-direction: row;
    justify-content: flex-end;
  }

  .cookie-warning__btn {
    margin-left: 10px;

    &:last-of-type {
      margin-top: 0;
    }
  }

}

@media screen and (min-width: 768px) {
  .cookie-warning {
    flex-direction: row;
  }

  .cookie-warning__inner {
    flex: 1;
  }

  .cookie-warning__footer {
    flex-direction: row;
  }

  .cookie-warning__btn {
    margin-left: 10px;
  }

}
